<div class="container">
    <div class="row">
        <div class="col-md-12 page-content col-thin-right">
            <div class="inner inner-box ads-details-wrapper">
                <h2>
                    {{Article.title}}
                </h2>
                <span class="info-row">
                    <span class="date">
                        <i class=" icon-clock"> </i> {{Article.createdAt|moment:'fromNow'}}
                    </span> -
                    <span class="category">
                        {{Article.Category.description}}
                    </span>
                </span>

                <div class="ads-image">
                    <h1 class="pricetag">Only {{Article.price|currency:"$":0}}</h1>
                </div>
                <!--ads-image-->

                <div class="Ads-Details">
                    <div class="row">
                        <div class="col-md-8">
                            <gallery pictures="Article.Pictures"></gallery>
                        </div>
                        <div class="col-md-4">
                            <aside class="panel panel-body panel-details">
                                <ul>
                                    <li>
                                        <p class=" no-margin ">
                                            <strong>Price:</strong> {{Article.price|currency:"$":0}}
                                        </p>
                                    </li>
                                    <li>
                                        <p class="no-margin">
                                            <strong>Type:</strong> {{Article.Category.description}}
                                        </p>
                                    </li>
                                    <li>
                                        <p class="no-margin">
                                            <strong>Stock:</strong> {{Article.stock|number:0}}
                                        </p>
                                    </li>
                                    <li>
                                        <p class=" no-margin ">
                                            <strong>Available:</strong> {{Article.active?'Yes':'No'}}
                                        </p>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                    <h5 class="list-title"><strong>DESCRIPTION</strong></h5>
                    <div class="row">
                        <div class="ads-details-info col-md-8 text-justify">
                            <p>{{Article.description}}</p>
                        </div>
                    </div>
                    <div class="content-footer text-left">
                        <button class="btn  btn-yellow" data-toggle="modal" ng-click="Add(Article)" ng-if="!InCart()">
                            <i class="fa fa-shopping-cart"></i> Add to cart
                        </button>
                        <a class="btn   btn-border btn-post btn-yellow nav-link" href="#!/cart" ng-if="InCart()">
                            ..<i class="fa fa-shopping-cart"></i> Cart
                        </a>
                    </div>
                </div>
            </div>
            <!--/.ads-details-wrapper-->
        </div>
    </div>
</div>